<div class="flex flex-col items-center justify-center">
  <form [formGroup]="dateForm">
    <div class="h-7.5 w-40.5">
      <input
        #Date1
        (keydown)="moveFrom1($event)"
        formControlName="date1"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        #Date2
        (keydown)="moveFrom2($event)"
        formControlName="date2"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        #Date3
        (keydown)="moveFrom3($event)"
        formControlName="date3"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        #Date4
        (keydown)="moveFrom4($event)"
        formControlName="date4"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        #Date5
        (keydown)="moveFrom5($event)"
        formControlName="date5"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        #Date6
        (keydown)="moveFrom6($event)"
        formControlName="date6"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        #Date7
        (keydown)="moveFrom7($event)"
        formControlName="date7"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        #Date8
        (keydown)="moveFrom8($event)"
        formControlName="date8"
        type="text"
        class="w-5 h-7.5 border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
    </div>
  </form>

  <div class="flex flex-row items-center justify-around w-full text-sm">
    <span>D</span>
    <span>D</span>
    <span>M</span>
    <span>M</span>
    <span>Y</span>
    <span>Y</span>
    <span>Y</span>
    <span>Y</span>
  </div>
</div>
