<div class="flex flex-col items-center justify-center">
  <form [formGroup]="dateForm">
    <div class="h-[30px] w-[162px]">
      <input
        formControlName="date1"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        formControlName="date2"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        formControlName="date3"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        formControlName="date4"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        formControlName="date5"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        formControlName="date6"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        formControlName="date7"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
      <input
        formControlName="date8"
        type="text"
        class="w-5 h-[30px] border border-gray-600 outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-center"
      />
    </div>
  </form>

  <div class="flex flex-row items-center justify-around w-full text-sm">
    <span>D</span>
    <span>D</span>
    <span>M</span>
    <span>M</span>
    <span>Y</span>
    <span>Y</span>
    <span>Y</span>
    <span>Y</span>
  </div>
</div>
