<div>
  <div class="flex flex-row items-center justify-around my-6">
    <div class="space-y-6">
      <p-floatlabel>
        <input pInputText pSize="small" id="height" [(ngModel)]="this.height" autocomplete="off" />
        <label for="height">Cheque Height</label>
      </p-floatlabel>
      <p-floatlabel>
        <input pInputText pSize="small" id="width" [(ngModel)]="this.width" autocomplete="off" />
        <label for="width">Cheque Width</label>
      </p-floatlabel>
    </div>
    <div class="space-y-6">
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateTop"
          [(ngModel)]="this.dateTop"
          autocomplete="off"
        />
        <label for="date">Date Top Margin</label>
      </p-floatlabel>
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateLeft"
          [(ngModel)]="this.dateLeft"
          autocomplete="off"
        />
        <label for="dateLeft">Date Left Margin</label>
      </p-floatlabel>
    </div>
    <div class="space-y-6">
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateTop"
          [(ngModel)]="this.dateTop"
          autocomplete="off"
        />
        <label for="date">Date Top Margin</label>
      </p-floatlabel>
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateLeft"
          [(ngModel)]="this.dateLeft"
          autocomplete="off"
        />
        <label for="dateLeft">Date Left Margin</label>
      </p-floatlabel>
    </div>
    <div class="space-y-6">
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateTop"
          [(ngModel)]="this.dateTop"
          autocomplete="off"
        />
        <label for="date">Date Top Margin</label>
      </p-floatlabel>
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateLeft"
          [(ngModel)]="this.dateLeft"
          autocomplete="off"
        />
        <label for="dateLeft">Date Left Margin</label>
      </p-floatlabel>
    </div>
    <div class="space-y-6">
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateTop"
          [(ngModel)]="this.dateTop"
          autocomplete="off"
        />
        <label for="date">Date Top Margin</label>
      </p-floatlabel>
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateLeft"
          [(ngModel)]="this.dateLeft"
          autocomplete="off"
        />
        <label for="dateLeft">Date Left Margin</label>
      </p-floatlabel>
    </div>
    <div class="space-y-6">
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateTop"
          [(ngModel)]="this.dateTop"
          autocomplete="off"
        />
        <label for="date">Date Top Margin</label>
      </p-floatlabel>
      <p-floatlabel>
        <input
          pInputText
          pSize="small"
          id="dateLeft"
          [(ngModel)]="this.dateLeft"
          autocomplete="off"
        />
        <label for="dateLeft">Date Left Margin</label>
      </p-floatlabel>
    </div>
  </div>

  <div class="">
    <div
      class="bg-gray-200 mx-auto relative"
      [style.height.cm]="this.height"
      [style.width.cm]="this.width"
    >
      <span class="absolute top-0 right-0">{{ this.date() }}</span>
      <span class="absolute top-0 left-0">{{ this.name()?.toUpperCase() }}</span>
      <span class="absolute top-8 left-0">{{ this.amntInWordsLine1() }} </span>
      <span class="absolute bottom-0 left-0"> {{ this.amntInWordsLine2() }} </span>
      <span class="absolute bottom-0 right-0">{{ this.amount() }}</span>
    </div>
  </div>
</div>
